tar: @version@:.
diff: @version@:. patches/alt-fixes:.
diff: patches/alt-fixes:. patches/advanced:. name=@name@-@version@-@release@-advanced.patch
copy: *.pam
copy: *.patch
copy: *.wms
copy: *.sh
copy: *.conf
copy: *.rules
copy: *.service
copy: *.control
